$groupBackColor: beige;
$groupTitleColor: crimson;
$groupTitleTextColor: white;

.match {
  width: 75%;
  background-color: $groupBackColor;
  margin: 1.5rem auto;
  border-radius: 15px;  
  @media screen and (min-width: 768px) {
    width: 250px;
    height: 139px;
  }

  .header {
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px 15px 0 0;
    background-color: $groupTitleColor;
    color: $groupTitleTextColor;
    font-size: 1.5rem;
  }
  .content {
    padding: 0.5rem 0;
  }
}
