$backColor: darkslateblue;
$groupBackColor: beige;
$groupTitleColor: crimson;
$groupTitleTextColor: #ffffff;
$prevStageBtn: grey;

.fullResult {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1rem 0;

  .stage {
    width: 25%;
  }

  .match_16 {
    background-color: $groupBackColor;
    color: black;
    margin: 5px 10px;
    padding: 0;
    border-radius: 5px;
    background-color: transparent;
  }

  .match_qf {
    background-color: $groupBackColor;
    color: black;
    margin: 35px 10px 0;
    padding: 0;
    background-color: transparent;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  .match_sf {
    background-color: $groupBackColor;
    color: black;
    margin: 100px 10px 0;
    padding: 0;
    background-color: transparent;
    &:not(:last-child) {
      margin-bottom: 200px;
    }
  }
  .match_final {
    background-color: $groupBackColor;
    color: black;
    margin: 230px 10px 0;
    padding: 0;
    background-color: transparent;
  }
  .match_third {
    background-color: $groupBackColor;
    color: black;
    margin: 170px 10px 0;
    padding: 0;
    background-color: transparent;
  }

  .team {
    position: relative;
    height: 30px;
    border: 1px solid $prevStageBtn;
    align-items: center;
    border-radius: 8px;
    background-color: $groupBackColor;
    .team__flag {
      position: absolute;
      left: 3px;
      top: 2px;
      height: 24px;
      width: 25px;
      border: 1px solid $prevStageBtn;
      border-radius: 10px;
      box-shadow: none;
      padding: 0;
      margin: auto;
    }
    .team__name {
      position: absolute;
      font-size: 1.2rem;
      right: 0.3rem;
      top: 3px;
    }
  }
  .teamWinner {
    border: 1px solid rgb(134, 230, 134);
    background-color: rgba(211, 248, 211);
    font-weight: bold;
  }

  .teamGold {
    border: 1px solid rgb(160, 136, 2);
    background-color: gold;
    font-weight: bold;
  }

  .teamSilver {
    border: 1px solid rgb(81, 81, 81);
    background-color: silver;
    font-weight: bold;
  }

  .teamBronze {
    border: 1px solid rgb(167, 103, 0);
    background-color: rgb(255, 157, 0);
    font-weight: bold;
  }
}
