$backColor: darkslateblue;
$groupTitleColor: crimson;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: $backColor;
}

li {
  list-style-type: none;
}

.next_btn {
  padding: 0.5rem;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  background-color: $groupTitleColor;
}
