$backColor: darkslateblue;
$groupTitleColor: crimson;
$groupTitleTextColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: $backColor;
}

li {
  list-style-type: none;
}

.groupStage {
  text-align: center;
  .groupStage__content {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
  }
}

.nextStageBtn {
  margin: 10px auto;
  padding: 0.5rem 1.5rem; 
  border-radius: 10px;
  text-align: center;
  background-color: $groupTitleColor;
  color: $groupTitleTextColor;
  border: 0;
  font-size: 1.5rem;
}
