$backColor: darkslateblue;
$groupBackColor: beige;
$groupTitleColor: crimson;
$groupTitleTextColor: #ffffff;
$prevStageBtn: grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: $backColor;
}

li {
  list-style-type: none;
}

.groupStage {
  text-align: center;
  width: 100%;
  margin: 0;
  .groupStage__header {
    background-color: $groupTitleColor;
    color: $groupTitleTextColor;
    font-size: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .groupStage__content {
    min-height: calc(100vh - 81px - 55px);
    @media screen and (min-width: 768px) {
      width: 700px;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      min-width: 1100px;
      width: 80%;
      max-width: 1200px;
    }
  }
}

.nextStageBtn {
  width: 48%;
  max-width: 200px;
  margin: 10px auto;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: $groupTitleColor;
  color: $groupTitleTextColor;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.prevStageBtn {
  width: 45%;
  margin: 10px auto;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  background-color: $prevStageBtn;
  color: black;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.playOff {
  text-align: center;
  width: 100%;
  margin: 0;
  .playOff__header {
    background-color: $groupTitleColor;
    color: $groupTitleTextColor;
    font-size: 2rem;
    padding: 0.5rem;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  }
  .playOff__content {
    min-height: calc(100vh - 81px - 55px);
    @media screen and (min-width: 768px) {
      width: 700px;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      min-width: 1100px;
      width: 80%;
      max-width: 1200px;
    }
  }
  .playOff__buttons {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
}
